.login {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
}
.login__title {
  font: var(--brand);
  color: var(--color-text);
}

.login-form {
  display: flex;
  flex-direction: column;
  background: var(--color1-lighter);
}

.login-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.login-form__label,
.login-form__text,
.login-form__input,
.login-form__button,
.login-form__submit {
  font: var(--style3wide);
  color: var(--color-text);
}

.login-form__input {
  border: none;
  border-radius: 1rem;
}

.login-form__submit {
  color: #ffffff;
  background: var(--color-text);
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 2rem;
  cursor: pointer;
}

.login-form__button {
  color: #ffffff;
}

.login-form__button {
  background: var(--color2);
  padding: 0.2rem 2rem;
  border-radius: 1rem;
}
