.policy {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 20rem;
}

.policy__title {
  font: var(--brand);
  color: var(--color-text);
  padding: 0 0 5rem;
  align-self: center;
}

.policy__text {
  font: var(--style4);
  color: var(--color-text);
}

.policy__subtitle {
  font: var(--style3bold);
  color: var(--color-text);
  padding: 1rem 0 0;
}
