@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'food.css';
@import 'how-it-works.css';
@import 'plans.css';
@import 'about-us.css';
@import 'terms-of-use.css';
@import 'privacy-policy.css';
@import 'signup.css';
@import 'login.css';

:root {
  --color1: #ea873c;
  --color1-lighter: #ff9b69;
  --color2: #02a89d;
  --color2-lighter: #71f5ec;
  --gray: #ab9387;
  --color-text: #383838;

  --brand: 400 normal 4.8rem/1.25 'Righteous';
  --style1big: 400 normal 9.6rem/1.25 'Lobster';
  --style1: 400 normal 6.4rem/1.25 'Lobster';
  --style2: 700 normal 2.4rem/1.5 'Poppins';
  --style3bold: 700 normal 1.6rem/1.1 'Ubuntu';
  --style3wide: 400 normal 2rem/1.5 'Ubuntu';
  --style3: 400 normal 1.6rem/1.12 'Ubuntu';
  --style4: 400 normal 1.4rem/1.14 'Roboto';
  --style4small: 400 normal 1.1rem/1.18 'Roboto';
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
  font-family: inherit;
  text-decoration: none;
}
html {
  /* This defines what 1rem is */
  font-size: 62.5%;
  /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* To avoid resize of header when scrollbar appear */
  /* width: 100vw; */
}

.active,
.active-footer {
  color: #383838;
  text-decoration-line: underline;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.4rem;
}

.active-footer {
  text-decoration-thickness: 0.18rem;
}

main {
  min-height: calc(100vh - 6rem - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10rem 8rem;
}

.no-space-around {
  padding: 0;
}
