---
layout: layout1.njk
---

<section class="restaurants">
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example1.jpg"
        alt="example1"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">Pinocchio</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.9 Excellent</p>
      </div>
      <p class="restaurant__distance">2.4 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example2.jpg"
        alt="example2"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">Kung Fu Buffet</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.3 Excellent</p>
      </div>
      <p class="restaurant__distance">1.8 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example3.jpg"
        alt="example3"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">McDonald’s</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.5 Excellent</p>
      </div>
      <p class="restaurant__distance">3.9 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example4.jpg"
        alt="example4"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">My Meat Wagon</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.7 Excellent</p>
      </div>
      <p class="restaurant__distance">3.7 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example5.png"
        alt="example5"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">Burger King</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.5 Excellent</p>
      </div>
      <p class="restaurant__distance">3.9 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example6.jpg"
        alt="example6"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">Meltdown</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.6 Excellent</p>
      </div>
      <p class="restaurant__distance">5.4 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example7.jpg"
        alt="example7"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">Eatokyo</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.8 Excellent</p>
      </div>
      <p class="restaurant__distance">5.4 km away - €3.99 delivery</p>
    </div>
  </article>
  <article class="restaurant">
    <div class="restaurant__header">
      <img
        src="/img/food/example8.jpg"
        alt="example8"
        class="restaurant__img"
      />
    </div>
    <div class="restaurant__footer">
      <p class="restaurant__title">Nando</p>
      <div class="restaurant__wrapper">
        <img
          src="/img/icons/food-icon.svg"
          alt="star"
          class="restaurant__icon"
        />
        <p class="restaurant__rate">4.5 Excellent</p>
      </div>
      <p class="restaurant__distance">7.1 km away - €3.99 delivery</p>
    </div>
  </article>
</section>
