---
layout: home-layout.njk
---

<section class="hero">
  <h1 class="hero__text"><span>Don’t wait,</span><span>we’re ready!</span></h1>
</section>

<section class="home">
  <div class="quotes">
    <h2 class="quotes__title">About us</h2>
    <div class="quotes__wrapper">
      <article class="quote">
        <div class="quote__box">
          <img src="/img/home/quote1.svg" alt="quote1" class="quote__img" />
        </div>
        <p class="quote__text">“Astonishing venture!”</p>
      </article>
      <article class="quote">
        <div class="quote__box">
          <img src="/img/home/quote2.svg" alt="quote2" class="quote__img" />
        </div>
        <p class="quote__text">“Top-10 app most used in Ireland”</p>
      </article>
      <article class="quote">
        <div class="quote__box">
          <img src="/img/home/quote3.svg" alt="quote3" class="quote__img" />
        </div>
        <p class="quote__text">“All the best restaurants in your pocket”</p>
      </article>
      <article class="quote">
        <div class="quote__box">
          <img src="/img/home/quote4.svg" alt="quote4" class="quote__img" />
        </div>
        <p class="quote__text">“Tons of tasty dishes discovered every day”</p>
      </article>
    </div>
  </div>

  <div class="partners">
    <h2 class="partners__title">Our partners</h2>
    <div class="partners__wrapper">
      <article class="partner">
        <img src="/img/home/partner1.png" alt="partner1" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner2.svg" alt="partner2" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner3.svg" alt="partner3" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner4.svg" alt="partner4" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner5.png" alt="partner5" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner6.svg" alt="partner6" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner7.png" alt="partner7" class="partner__img" />
      </article>
      <article class="partner">
        <img src="/img/home/partner8.svg" alt="partner8" class="partner__img" />
      </article>
    </div>
  </div>
</section>
