---
layout: general-layout.njk
---

<section class="how-it-works">
  <h1 class="how-it-works__title">Want to be ready?</h1>

  <article class="how">
    <div class="how__wrapper">
      <img src="/img/how-it-works/how1.jpg" alt="how1" class="how__img" />
    </div>
    <div class="how__wrapper how__wrapper--text">
      <h2 class="how__title">Choose what you want to eat now</h2>
      <p class="how__text">
        Choose your meal directly from either our website or app among thousands
        thousands of dishes already there and almost hundreds coming every week!
      </p>
    </div>
  </article>

  <article class="how">
    <div class="how__wrapper how__wrapper--text">
      <h2 class="how__title">Kitchen will receive the order</h2>
      <p class="how__text">
        The chosen restaurant will start preparing your order as soon as they
        receive the notification, from the customer to the chef, without queues
        or intermediaries.
      </p>
    </div>
    <div class="how__wrapper">
      <img src="/img/how-it-works/how2.jpg" alt="how2" class="how__img" />
    </div>
  </article>
  <article class="how">
    <div class="how__wrapper">
      <img src="/img/how-it-works/how3.jpg" alt="how3" class="how__img" />
    </div>
    <div class="how__wrapper how__wrapper--text">
      <h2 class="how__title">Our rider at your door!</h2>
      <p class="how__text">
        When the order is ready, a rider will already be at the restaurant to
        pick up your meal and bring it hot to your door.
      </p>
    </div>
  </article>
</section>
