---
layout: general-layout.njk
---

<section class="login">
  <h1 class="login__title">Auth</h1>
  <form action="/food" class="form">
    <div class="form__wrapper">
      <label for="user" class="form__label">Username</label>
      <input type="text" id="user" class="form__input" required />
      <label for="psw" class="form__label">Password</label>
      <input type="password" id="psw" class="form__input" required />
      <input type="submit" value="Login" class="form__submit" />
    </div>
    <div class="form__wrapper">
      <p class="form__text">Not registered yet?</p>
      <a href="/signup" class="form__button">Sign up</a>
    </div>
  </form>
</section>
