---
layout: general-layout.njk
---

<section class="plans">
  <h1 class="plans__title-h1">
    Get special deals and offers on the food you love
  </h1>
  <div class="features__wrapper">
    <article class="feature__info">
      <img src="/img/icons/plan-icon1.svg" alt="info1" class="feature__img" />
      <p class="feature__text">Save up to €5 on delivery fees per order</p>
    </article>
    <article class="feature__info">
      <img src="/img/icons/plan-icon2.svg" alt="info2" class="feature__img" />
      <p class="feature__text">Get special offers at restaurants</p>
    </article>
    <article class="feature__info">
      <img src="/img/icons/plan-icon3.svg" alt="info3" class="feature__img" />
      <p class="feature__text">Cancel at any time</p>
    </article>
  </div>
  <h2 class="plans__title-h2">Choose your plan</h2>

  <div class="plans__wrapper">
    <article class="plan">
      <div class="plan__header plan__header--gold">
        <h3 class="plan__title">Gold</h3>
        <p class="plan__text">Free delivery on orders of €10 or more</p>
      </div>
      <p class="plan__price">€8.99/month</p>
      <p class="plan__description">
        Free delivery on the food you love – restaurants, takeaway or groceries
      </p>
      <a href="/login" class="plan__button plan__button--gold">
        Log in to check availability
      </a>
    </article>
    <article class="plan">
      <div class="plan__header plan__header--silver">
        <h3 class="plan__title">Silver</h3>
        <p class="plan__text">Free delivery on orders of €25 or more</p>
      </div>
      <p class="plan__price">€2.99/month</p>
      <p class="plan__description">
        Free delivery when you spend €25+ on restaurants, takeaway or groceries
      </p>
      <a href="/login" class="plan__button plan__button--silver">
        Log in to check availability
      </a>
    </article>
  </div>
</section>
