---
layout: general-layout.njk
---

<section class="policy">
  <h1 class="policy__title">Ready2Eat Privacy Policy</h1>
  <p class="policy__text">
    Ready2Eat Ireland Limited ("we", "our", "us" or "Ready2Eat"). We are
    committed to protecting the privacy of all users of our website,
    Ready2Eat.ie, or mobile applications (together, the "Sites"). Please read
    this privacy policy that explains how we use and protect your personal
    information. We are the "controllers" of the information we process, unless
    otherwise stated.
  </p>
  <h2 class="policy__subtitle">1. Contact Details</h2>
  <p class="policy__text">
    If you have any queries or requests about this privacy policy or how we
    handle your information more generally, you can get in touch by contacting
    us at support@ready2eat.ie.
  </p>
  <h2 class="policy__subtitle">2. How We Collect Your Information</h2>
  <p class="policy__text">
    We collect your information when you interact with us or use our services,
    such as when you use our Sites to place an order. We also look at how
    visitors use our Sites, to help us improve our services and optimise
    customer experience.
  </p>
  <p class="policy__text">We collect information:</p>
  <ol class="policy__text">
    <li>
      when you create an account with us or you change your account settings;
    </li>
    <li>
      when you place an order with us and during the order process (including
      for payment and order delivery);
    </li>
    <li>
      through your interactions with us or our services, such as when you
      request information or to receive marketing, information about Ready2Eat
      initiatives or other communications from us by email, phone, post, SMS,
      push notification, or via our chat function;
    </li>
    <li>
      when you participate in a competition, prize draw, promotion about our
      services, or our partners’ services; and
    </li>
    <li>
      when you browse or use our Sites (before and after you create an account
      with us).
    </li>
  </ol>
  <p class="policy__text">
    We also collect information from third party sites, such as advertising and
    social media platforms and our fraud detection provider. If you link your
    social media or your third-party accounts to us, we will keep a record of
    your social media handle, and the other information that is made available
    to us according to your social media account settings.
  </p>
  <p class="policy__text">
    If your employer signs up for Ready2Eat for Work, we receive your contact
    details from your employer to enable us to provide our services to you.
    Please see the “Ready2Eat for Work” section for more details.
  </p>
  <h2 class="policy__subtitle">3. Information We Collect From You</h2>
  <p class="policy__text">
    As part of our commitment to the privacy of our customers and visitors to
    our Sites more generally, we want to be clear about the sorts of information
    we will collect from you.
  </p>
  <p class="policy__text">
    When you visit the Sites or make a Ready2Eat order through the Sites,
    including any partner’s website we work with to provide delivery services,
    you are asked for information about yourself including your name, contact
    details, delivery address, order details, loyalty scheme details where
    applicable, and payment information such as credit or debit card details. We
    will also collect information from you when you contact our riders using the
    chat function on our Sites. We will also collect your date of birth to
    verify your age when you purchase age restricted items.
  </p>
  <p class="policy__text">
    We collect information about your use of the Sites and information about you
    from any messages you post to the Sites or when you contact us or provide us
    with feedback, including via email, post, phone or chat function. If you
    contact us by phone, we record and make notes about the call, including for
    training and service improvement purposes.
  </p>
  <p class="policy__text">
    We collect information from your mobile device or computer, such as its
    operating system, the device and connection type and the IP address from
    which you are accessing our Sites. We also collect technical information
    about your use of our services through a mobile device, for example,
    carrier, location data and performance data such as mobile payment methods,
    interaction with other retail technology such as use of NFC Tags, QR Codes
    and/or use of mobile vouchers. Unless you have elected to remain anonymous
    through your device and/or platform settings, we automatically collect and
    use this information if you use the service through your mobile device(s)
    via any Ready2Eat mobile application, through your mobile's browser or
    otherwise.
  </p>
  <p class="policy__text">
    We process health information about you only where you volunteer and consent
    to this, for example if you report any specific food allergies after placing
    an order.
  </p>
  <p class="policy__text">
    Where we need to collect information by law, or under the terms of a
    contract we have with you, and you fail to provide that information, we may
    not be able to perform the contract we have or are trying to enter into with
    you (for example, to provide you with our services). In this case, we may
    have to cancel our service to you but we will notify you if this is the case
    at the time.
  </p>
  <h2 class="policy__subtitle">4. Use Of Your Information</h2>
  <p class="policy__text">
    We will only process your information if there is a reason for doing so, and
    if that reason is permitted by law.
  </p>
  <ul class="policy__text">
    <li>
      enable us to provide you with access to the relevant parts of the Sites,
      we collect necessary cookies from your device;
    </li>
    <li>
      supply the services you have requested, we collect your name, contact
      details, delivery address and order details;
    </li>
    <li>
      enable us to collect payment from you, we collect your credit or debit
      card information; and
    </li>
    <li>
      contact you where necessary concerning our services, such as to resolve
      issues you may have with your order, we collect the information listed
      above and any additional information we need to resolve your issue.
    </li>
  </ul>
  <h2 class="policy__subtitle">5. Ready2Eat For Work</h2>
  <p class="policy__text">
    We process your information to determine whether you may be interested in
    hearing about our Ready2Eat for Work service and, if your employer signs up
    for Ready2Eat for Work, to make this service available to you.
  </p>
  <p class="policy__text">
    Where we think you are using your Ready2Eat account for business purposes
    and your company may be interested in our Ready2Eat for Work service, where
    appropriate, we will contact you (by email or telephone) to let you know
    about this service. We do this as it's in our legitimate business interests.
    You have the right to object to receiving these types of communications,
    which you can do by responding to our emails to unsubscribe or by contacting
    us using the contact details in this privacy policy.
  </p>
  <p class="policy__text">
    If your employer signs up for Ready2Eat for Work, we will contact you to let
    you know that the Ready2Eat for Work service is available to you. If you
    would like to take up your employer’s offer to use Ready2Eat for Work, we
    will tag your Ready2Eat account as having a Ready2Eat for Work allowance.
    For more information, please contact your employer.
  </p>
  <p class="policy__text">
    When you use Ready2Eat for Work, we will process your information for the
    purposes set out in the “Use of Your Information” section above. We will
    also share information relating to your order (such as the order date and
    time, the payment amount and the partner with which the order was placed)
    with your employer.
  </p>
  <h2 class="policy__subtitle">6. Cookies</h2>
  <p class="policy__text">
    You can set your browser to refuse all or some browser cookies, or to alert
    you when websites set or access cookies. If you disable or refuse cookies,
    please note that some parts of the Site may become inaccessible or not
    function properly. For more information about the cookies we use, and how to
    set or amend your cookie preferences, please see our Cookie Policy.
  </p>
  <h2 class="policy__subtitle">7. Marketing</h2>
  <p class="policy__text">
    Where you have given your consent or where we have a legitimate interest for
    doing so (and are permitted to do so by law) we will use your information to
    let you know about our other products and services, or Ready2Eat initiatives
    that may be of interest to you and we may contact you to do so by email,
    post, phone, or push notification or in-app message.
  </p>
  <p class="policy__text">
    We use online advertising to keep you aware of what we’re up to and to help
    you see and find our products.
  </p>
  <h2 class="policy__subtitle">8. Retention Of Your Information</h2>
  <p class="policy__text">
    We will only retain your information for as long as reasonably necessary to
    fulfil the purposes we collected it for, including for the purposes of
    satisfying any legal, regulatory, tax, accounting or reporting requirements.
    In the event of a complaint or if we reasonably believe there is a prospect
    of litigation in respect to our relationship with you, we retain your
    information for a longer period.
  </p>
  <h2 class="policy__subtitle">9. Security</h2>
  <p class="policy__text">
    We adopt robust technologies and policies to protect your information from
    being accidentally lost, used or accessed in an unauthorised way, altered or
    disclosed.
  </p>
  <h2 class="policy__subtitle">10. Changes To Our Privacy Policy</h2>
  <p class="policy__text">
    We update this privacy policy from time to time, so remember to check back
    in every so often, in case anything has changed and, where appropriate, we
    may notify you of the changes, for example by email or push notification.
  </p>
  <p class="policy__text">
    This privacy policy was last published on: 6 March 2023
  </p>
  <p class="policy__text">
    Ready2Eat Ireland Limited, Cork Rd, Waterford, Ireland
  </p>
</section>
