<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__menu">
      <a href="" class="footer__link">About Us</a
      ><a href="" class="footer__link">Terms of Use</a
      ><a href="" class="footer__link">Privacy Policy</a>
    </div>
    <div class="footer__socials">
      <img
        src="/img/icons/footer-icon1.svg"
        alt="Instagram"
        class="footer__social"
      /><img
        src="/img/icons/footer-icon2.svg"
        alt="Facebook"
        class="footer__social"
      /><img
        src="/img/icons/footer-icon3.svg"
        alt="Twitter"
        class="footer__social"
      />
    </div>
  </div>
  <p class="footer__copyright">
    Copyright © 2023 Ready2Eat LTD. All rights reserved. Copyright on
    Ready2Eat.us (including but not limited to text, photographs, graphics,
    videos and software) is owned by Ready2Eat or its partners. No right, title
    or interest in any content of Ready2Eat is transferred or licensed to you as
    a result of your use of the website. Other than for private use, you may not
    download or copy, store in any medium (including any other website),
    distribute, transmit, re-transmit, modify, show in public or make commercial
    or business use of any part of Ready2Eat without the prior written consent
    of Ready2Eat. By accessing Ready2Eat you agree not to use the content for
    any illegal or improper purpose. No part of Ready2Eat.us may be reproduced
    or distributed in any material form or medium without the permission of
    Ready2Eat.
  </p>
</footer>
